.ejemplo {
    width: 80%;
    height: 80%;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 10px;
}

.excercise {
    margin-bottom: 50px;
    margin-top: 10px;
}

.parrafo {
    align-self: center;
    margin-top: 10px;
}

.bg_principal {
    background-image: url(/Hackaton09/pmaldonadoh/imgs/bg_2.jpg);
    background-size: 100%;
    color: white ;
}

.bg_secundario {
    background-image: url(/Hackaton09/pmaldonadoh/imgs/bg_3.jpg);
    background-size: 25%;
    font-size: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center p{
    align-items: center;
    align-self: center;
    text-align: center;
    margin: auto;
}